table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #e2e2e2;
  padding: 0.75em;
  text-align: left;
  vertical-align: bottom;
}

thead th,
tfoot th {
  background-color: #e2e2e2;
  border-right: 1px solid #ccc;
}

thead th {
  border-bottom: 1px solid #333;
}

tbody th {
  background-color: #efefef;
}

tbody tr:last-child th,
tbody tr:last-child td {
  border-bottom: 1px solid #333;
}

.size-heading {
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.col-discovery {
  background-color: #f2f2f2;
}

.col-size {
  background-color: #ececec;
}

caption {
  font-style: italic;
  font-size: 1.125rem;
}

table p {
  margin: 0;
  padding: 0;
}
